PORT=3001
CLIENT_ORIGIN=http://localhost:5173
CONTAINER_CLI=/usr/local/bin/docker
NEBULASHELL_IMAGE=nebulashell-base:latest
CONTAINER_MEMORY=512m
CONTAINER_CPUS=1.0
CONTAINER_PIDS_LIMIT=256
HOST_SHELL=/bin/sh
SESSION_IDLE_TIMEOUT_MS=1800000
SESSION_MAX_LIFETIME_MS=14400000
DATA_ROOT=server/data
JWT_SECRET=change-this-before-sharing-the-server
JWT_TTL_SECONDS=604800
AUTH_COOKIE_NAME=nebulashell.token
AUTH_COOKIE_SECURE=false
HISTORY_MAX_BYTES=262144
VITE_API_PROXY_TARGET=http://localhost:3001